<div class="content">
    <div class="research-section">
        <form class="buy-form">
            <div class="grid-section">
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>Que recherchez-vous ?</mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Choisissez une raison</mat-label>
                            <mat-select [(ngModel)]="selectedReasons" name="reason" required>
                            <mat-option *ngFor="let reason of selectedReasons" [value]="reason">{{ reason }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!selectedReasons">Ce champ est requis</mat-error>
                      </mat-form-field>
                    </mat-grid-tile>
            
                    <mat-grid-tile>Ville</mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Ville</mat-label>
                            <input matInput placeholder="Entrez votre un nom de viller" [(ngModel)]="cityToSearch" name="city" required>
                            <mat-icon matSuffix>location_city</mat-icon>
                            <mat-error *ngIf="!city">Ce champ est requis</mat-error>
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>Code postal</mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Code postal</mat-label>
                            <input matInput placeholder="Entrez votre le code postal correspondant" [(ngModel)]="postalCode" name="postal code" required>
                            <mat-icon matSuffix>local_post_office</mat-icon>
                            <mat-error *ngIf="!postalCode">Ce champ est requis</mat-error>
                      </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <div class="criterion-section">
                            <div class="criterion-line">
                                <div class="criterion-name">Surfaces</div>
                                <div class="interval-section">
                                    <div class="one"><span>Entre</span></div>
                                    <div class="two"><input type="number">m²</div>
                                    <div class="three">et</div>
                                    <div><input type="number">m²</div>
                                </div>
                            </div>
                            <div class="criterion-line">
                                <div class="criterion-name">Volume financier</div>
                                <div class="interval-section">
                                    <div class="one"><span>Entre</span></div>
                                    <div class="two"><input type="number">M€</div>
                                    <div class="three">et</div>
                                    <div><input type="number">M€</div>
                                </div>
                            </div>
                            <div class="criterion-line">
                                <div class="criterion-name">Taux de rendement</div>
                                <div class="interval-section">
                                    <div class="one"><span>Entre</span></div>
                                    <div class="two"><input type="number">%</div>
                                    <div class="three">et</div>
                                    <div><input type="number">%</div>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="primary" (click)="submitForm()">Recercher</button>
                    </mat-grid-tile>
                  </mat-grid-list>
            </div>
        </form>
    </div>
    <div class="property-panel">
        <app-property-card
            [city]="city"
            [type]="type"
            [surface]="surface"
            [tenant]="tenant"
            [walb]="walb"
            [submissionDate]="submissionDate"
            [accessFile]="accessFile">
        </app-property-card>
        <app-property-card
            [city]="city"
            [type]="type"
            [surface]="surface"
            [tenant]="tenant"
            [walb]="walb"
            [submissionDate]="submissionDate"
            [accessFile]="accessFile">
        </app-property-card>
        <app-property-card
            [city]="city"
            [type]="type"
            [surface]="surface"
            [tenant]="tenant"
            [walb]="walb"
            [submissionDate]="submissionDate"
            [accessFile]="accessFile">
        </app-property-card>
    </div>
</div>